<div class="p-3 col-lg-6 offset-lg-3">

  <h3 class="mb-3">Update password</h3>

  <div class="form-floating mb-3">
    <input type="password" class="form-control" id="oldpass" placeholder="Old password">
    <label for="oldpass">Old password:</label>
  </div>

  <div class="form-floating mb-3">
    <input type="password" class="form-control" id="newpass" placeholder="New password">
    <label for="newpass">New password:</label>
  </div>

  <div class="form-floating mb-3">
    <input type="password" class="form-control" id="confirmpass" placeholder="Confirm new password">
    <label for="confirmpass">Confirm new password:</label>
  </div>

  <button class="mb-3 btn btn-primary" (click)="save()"><i class="bi bi-arrow-repeat"></i>&nbsp;&nbsp;Update password</button>

</div>
