<h3>Pizzák kezelése</h3>

<button class="btn btn-primary my-3" data-bs-toggle="modal" data-bs-target="#formModal">
  <i class="bi bi-plus-circle-fill"></i>&nbsp;&nbsp;Új pizza hozzáadása
</button>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Kép</th>
      <th>Megnevezés</th>
      <th>Leírás</th>
      <th class="text-end">Kalória</th>
      <th class="text-end">Ár</th>
      <th class="text-end">Műveletek</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pizza of pagedPizzas; let i = index;">
      <td>{{ i +1 }}.</td>
      <td>
        <img *ngIf="pizza.image" src="{{serverUrl}}/uploads/{{pizza.image}}" alt="{{pizza.name}}"
          class="thumbnail" (click)="openLightbox(pizza.image)">
      </td>
      <td>{{ pizza.name }}</td>
      <td>{{ pizza.descrip }}</td>
      <td class="text-end">{{ pizza.calories | numberFormat }} kcal</td>
      <td class="text-end">{{ pizza.price | numberFormat }} {{currency}}</td>
      <td class="text-end">
        <button class="btn btn-warning btn-sm me-2" title="Módosítás" (click)="getPizza(pizza.id)"><i
            class="bi bi-pencil-fill"></i></button>
        <button class="btn btn-danger btn-sm" title="Törlés" data-bs-toggle="modal" (click)="confirmDelete(pizza.id)"><i
            class="bi bi-trash3-fill"></i></button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="7">Megjelenítve: <strong> {{startIndex+1}} - {{endIndex}} / {{ pizzas.length}}</strong> rekord</td>
    </tr>
  </tfoot>
</table>

<nav aria-label="Page navigation example" *ngIf="totalPages > 1">
  <ul class="pagination">

    <li class="page-item">
      <a class="page-link" aria-label="Previous" (click)="setPage(currentPage-1)" [class.disabled]="currentPage == 1">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>


    <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index">
      <a class="page-link" (click)="setPage(i+1)" [class.active]="currentPage == i + 1">{{ i+1 }}</a>
    </li>


    <li class="page-item">
      <a class="page-link" aria-label="Next" (click)="setPage(currentPage+1)"
        [class.disabled]="currentPage == totalPages">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>

  </ul>
</nav>



<!-- Form Modal -->
<div class="modal fade" id="formModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="formModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="formModalLabel" *ngIf="!editMode">Új pizza hozzáadása</h1>
        <h1 class="modal-title fs-5" id="formModalLabel" *ngIf="editMode">Pizza módosítása</h1>
        <button type="button" class="btn-close" (click)="cancel()" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="name" placeholder="Név" [(ngModel)]="pizza.name">
          <label for="name">Név: <em>*</em></label>
        </div>

        <div class="form-floating mb-3">
          <input type="number" class="form-control" id="cal" placeholder="Kalória" [(ngModel)]="pizza.calories">
          <label for="cal">Kalória: <em>*</em></label>
        </div>

        <div class="form-floating mb-3">
          <input type="number" class="form-control" id="price" placeholder="Ár" [(ngModel)]="pizza.price">
          <label for="price">Ár: <em>*</em></label>
        </div>

        <div class="mb-3" *ngIf="pizza.image == ''">
          <label for="image" class="form-label">Kép:</label>
          <input class="form-control p-3" type="file" id="image" accept="image/*" (change)="onFileSelected($event)">
        </div>

        <div class="mb-3" *ngIf="pizza.image != ''">
          <label for="image" class="form-label">Kép:</label><br>
          <img *ngIf="pizza.image" src="{{serverUrl}}/uploads/{{pizza.image}}" alt="{{pizza.name}}"
            class="thumbnail" (click)="openLightbox(pizza.image)">
          <button *ngIf="pizza.image" class="btn btn-danger ms-3" (click)="deleteImage(pizza.id, pizza.image)"><i
              class="bi bi-trash3-fill"></i></button>
        </div>

        <div class="form-floating mb-3">
          <textarea class="form-control textarea" id="description" placeholder="Leírás"
            [(ngModel)]="pizza.descrip"></textarea>
          <label for="description">Leírás:</label>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cancel()">
          <i class="bi bi-x-circle"></i>&nbsp;&nbsp;Mégem
        </button>
        <button type="button" class="btn btn-primary" (click)="save()">
          <i class="bi bi-floppy-fill"></i>&nbsp;&nbsp;Mentés
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Confirm Modal -->
<div class="modal fade" id="confirmModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="confirmModalLabel">Megerősítés</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <i class="bi bi-question-circle"></i>&nbsp;&nbsp;Biztosan törölni szeretnéd?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          <i class="bi bi-x-circle"></i>&nbsp;&nbsp;Mégem
        </button>
        <button type="button" class="btn btn-danger" (click)="delete(pizza.id)">
          <i class="bi bi-check-lg"></i>&nbsp;&nbsp;Igen
        </button>
      </div>
    </div>
  </div>
</div>

<app-lightbox [imageUrl]="lightboxImage" [visible]="lightboxVisible" (closed)="lightboxVisible = false"></app-lightbox>
