.textarea{
  min-height: 250px;
}

.thumbnail{
  width: 180px;
  padding: 5px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s;

}

.thumbnail:hover{
  scale: 1.1;
  transition: all 0.1s;

}
